<a href="https://colab.research.google.com/github/Ekansh0801/90-DAYS-OF-MACHINE-LEARNING/blob/main/DAY_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mutable Objects
### List
### Set
### Dictionary

# List

In [3]:
# list should be included in square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
#lists can store multiple datatype together
my_list = [1,3,1.8,'English',True]
print(my_list)

[1, 3, 1.8, 'English', True]

### Lists are mutable --> changable

In [5]:
# add elements to a list
my_list = [1,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[1, 3, 1.8, 'English', True, 6]

In [8]:
# print elements of a list using their index

print(my_list[0])
print(my_list[2])
print(my_list[3])

1
1.8
English

In [9]:
# list allows duplicate values

list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [10]:
### we can check length of list using len
print(len(list_1))

8

In [11]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [12]:
list_2.append(5)
print(list_2)

[5]

In [14]:
# deleting an element from list
list_2 =[1, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[1, 3, 1.8, 'English', True, 6]
[1, 3, 'English', True, 6]

In [16]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [29]:
#tuple -> round bracketts
tuple_1 = (2,3,4,5)
print(tuple_1)
print(type(tuple_1))

(2, 3, 4, 5)
<class 'tuple'>

In [20]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5,'Machine Learning',False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [23]:
# converting list to tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [25]:
print(my_tuple[0])
print(my_tuple[1])

3
4

## Tuples are immutable --> unchanged

In [27]:
my_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
print(len(my_tuple))

4

# Set

In [30]:
# set -> curly brackets
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [31]:
print(my_set[0])
#set does not support indexing

TypeError: 'set' object is not subscriptable

In [32]:
# convert list to a set

list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [33]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

# Dictionary

In [35]:
# Dictionary contains key value pairs

my_dict = {'name':'David','age':'20','country':'India'}
print(my_dict)
print(type(my_dict))

{'name': 'David', 'age': '20', 'country': 'India'}
<class 'dict'>

In [36]:
# here we can call elements using their key not index

print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

David
20
India

In [37]:
# dictionary also does not allow duplicate values

dict_2 = {'name': 'David', 'age': '20', 'country': 'India','name': 'David', 'age': '20', 'country': 'India'}
print(dict_2)

{'name': 'David', 'age': '20', 'country': 'India'}

# Operators in Python

### Arithmetic Operators
### Assignment Operators
### Comparison Operators
### Logical Operators
### Identity Operators
### Membership Operators

# Arithmetic Operators

In [49]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print('sum =',sum)

# subtration
diff = num_1 - num_2
print('difference =',diff)

# multiplication
prod = num_1 * num_2
print('product =',prod)

# division
quo = num_1 / num_2
print('quetient = ',quo)

# exponent
exp = num_1 ** num_2 # 20 ^ 10
print('exponent =',exp)

# modulus
mod = num_1 % num_2
print('reminder =',mod)

sum = 30
difference = 10
product = 200
quetient =  2.0
exponent = 10240000000000
reminder = 0

# Assignment Operators

In [50]:
a = 5
print(a)

5

In [51]:
a = 5
a += 5 # a = a + 5
print(a)

10

In [52]:
b = 5
b -= 2  # b = b - 2
print(b)

3

# Comparision Operators

In [55]:
a = 5
b = 10

print(a == b)  # equal to
print(a != b)  # not equal to
print(a > b)   # greater than
print(a < b)   # lesser than
print(a <= b)  # less than equal to
print(a >= b)  # greater than equal to

False
True
False
True
True
False

# Logical Operators

In [58]:
a = 10

# and (true if both conditions true)
print(a > 20 and a > 5)   # note if first condition is false true does not check second condition

# or (true if any one condition is true)
print(a > 20 or a > 5)    # note if first condition is true or does not check second condition

# not (it converts true to false and false to true)
print(not(a > 8 and a > 5))

False
True
False

# Identity Operators

In [59]:
x = 5
y = 5

# is

print(x is y)

# is not

print(x is not y)

True
False

# Membership Operators

In [62]:
# in
# not in

a = 5
b = 10

c = [1,2,3,4,5]

print(a in c)
print(a not in c)

print(b in c)
print(b not in c)

True
False
False
True

# IF ELSE Statements

In [63]:
a = 30
b = 50

if (a > b):
  print('a is greatest number')
else:
  print('b is greatest number')

b is greatest number

In [65]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))

if (a > b):
  print(a, 'is greatest number')
else:
  print(b, 'is greatest number')

Enter the first number: 10
Enter the second number: 20
20 is greatest number

In [66]:
x = 15
y = 25
z = 30

if(y < x > z):
  print(x, 'is largest number')
elif(x < y > z):
  print(y,'is largest number')
else:
  print(z,'is largest number')

30 is largest number

# nested if statement

In [67]:
a = 20
b = 40
c = 60

if(a > b):
  if(a > c):
    print('a is largest')
  else:
    print('c is largest')

else:
  if(b > c):
    print('b is largest')
  else:
    print('c is largest')

c is largest

# Loops in Python

In [68]:
laptop1 = int(input('Enter the price of laptop1: '))
laptop2 = int(input('Enter the price of laptop2: '))
laptop3 = int(input('Enter the price of laptop3: '))
laptop4 = int(input('Enter the price of laptop4: '))
laptop5 = int(input('Enter the price of laptop5: '))

Enter the price of laptop: 20000

In [72]:
for i in range(5):  # 0 1 2 3 4
  laptop_price = int(input('Enter the price for laptop'))

Enter the price for laptop20000
Enter the price for laptop30000
Enter the price for laptop40000
Enter the price for laptop50000
Enter the price for laptop60000

In [75]:
nums = [50,100,150,200]

# for loop
for i in range (len(nums)):
  print(nums[i])

for i in nums:
  print(i)

50
100
150
200
50
100
150
200

In [76]:
# while loop
i = 0

while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [77]:
i = 5

while i < 3:
  print(i)
  i += 1

# Functions in Python

## Factorial of a number

In [79]:
number = int(input('Enter a number to find its factorial: '))

factorial = 1

if(number == 0):
  print('factorial of 0 is 1')

else:
  for i in range (1,number + 1):
    factorial = factorial * i
  print('factorial of',number,'is',factorial)

Enter a number to find its factorial: 5
factorial of 5 is 120

# Factorial Function

In [84]:
def factorial_value(num):
  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1,num + 1):
      factorial = factorial * i

  return factorial

In [85]:
print(factorial_value(6))

720

In [86]:
print(factorial_value(9))

362880